table {
    width: 80%;
    border-collapse: collapse;
    background-color: #ffffff;
    text-align: center;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  img {
    width: 100px;
    height: auto;
    text-align: right;
  }
  
  .gris {
    background-color: #f2f2f2;
    text-align: center;  
  }

  
  
  .precio {
    font-weight: bold;

  }

  .tdImg {
    vertical-align: top;
    text-align: right;
  }

  .tdAlign {
    vertical-align: top;
    text-align: left;
  }

  .centrado {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 100%;
  }
  
  



